@{
    ViewBag.Title = "Kontakt";
}

<h2>@ViewBag.Message</h2>
<br />

<address>
    <strong>Adres e-mail:</strong>   <a href="mailto:w57122@student.wsiz.rzeszow.pl">w57122@student.wsiz.rzeszow.pl</a><br />
</address>